body {
	margin: 0;
	padding: 0;
}
html, body {
    scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
:root {
    --size: calc(1vh + 1vw);
    --green: #ecfaec;
    --dark-green: #166639;
    --white: #ffffff;
    --black: #202020;
    --red: #820000;
    --lightRed: #F32424;
    --bgBlack: #282828;
    --bgBlackTwo: #1f2029;
    --gold: #FD841F;
    --primaryC: #fed330;
    --primaryD: #DD5353;
    --blue: #2192FF;
    --grey: #52616b;
}
.navbar {
	background: var(--bgBlackTwo);
    background-image: url("images/pat-back.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
}
.navLink {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: clamp(18px, calc(var(--size)*1.2), 24px);
    font-weight: 400;
    color: #f7f7f7;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    transition: all .2s ease-in-out;
}
.navLink:hover {
    color: var(--red);
}

.footerSection {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: var(--bgBlackTwo);
    background-image: url("images/pat-back.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    background-attachment: fixed;
}
.formTitle {
    font-family: 'MedievalSharp', cursive;
    letter-spacing: 5px;
    font-size: clamp(45px, calc(var(--size)*2.3), 70px);
    padding: 10px;
    font-weight: bold;
    line-height: 1.5;
	color: var(--white);
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.formThanksText {
    z-index: 1;
    font-size: clamp(28px, calc(var(--size)*1.2), 44px);
    font-family: 'MedievalSharp', cursive;
    font-weight: 200;
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    opacity: 0;
    scale: 0;
}
.footerTitle {
    font-family: 'MedievalSharp', cursive;
    font-size: clamp(32px, calc(var(--size)*1.7), 44px);
    font-weight: bold;
    padding: 10px;
	letter-spacing: 3px;
    line-height: 1.5;
    color: var(--white);
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.contactForm {
    background: rgba(184, 115, 51, 0.8);
    border: 1px solid #f7f7f7;
}

#contactEmail,
#contactTextArea,
#contactName {
    padding: 10px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
#contactEmail::placeholder,
#contactTextArea::placeholder,
#contactName::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 20px);
    font-weight: 200;
    color: #f7f7f7;
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
#contactEmail:focus::placeholder,
#contactTextArea:focus::placeholder,
#contactName:focus::placeholder {
    transform: translateY(-12px) translateX(15px);
    color: transparent;
    transition: all .3s ease-in-out;
	text-shadow: none;
}
#contactTextArea {
    overflow-x: hidden;
}

.socLinkContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
.socLinkContainer:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    outline-offset: 4px;
    outline: 1px solid #f7f7f7;
    transform: translateY(-3px);
}
.socLinkContainer:hover .fa-instagram,
.socLinkContainer:hover .fa-facebook-official,
.socLinkContainer:hover .fa-yelp,
.socLinkContainer:hover .fa-whatsapp,
.socLinkContainer:hover .fa-map-marker,
.socLinkContainer:hover .fa-phone {
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.fa-phone,
.fa-instagram,
.fa-facebook-official,
.fa-yelp,
.fa-whatsapp,
.fa-map-marker {
    background: #f7f7f7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.footerEmail {
    font-family: 'MedievalSharp', cursive;
    text-indent: 20px;
    text-align: center;
    font-weight: 200;
    font-size: clamp(22px, calc(var(--size)*1.2), 35px);
    color: #f7f7f7;
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.footerEmail a {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, calc(var(--size)*1.2), 24px);
    font-weight: 300;
    color: #f7f7f7;
    text-decoration-color: #f7f7f7;
    text-decoration-thickness: 0.1em;
    text-underline-offset: var(--offset,.25em);
    transition: --offset .3s,color .2s;
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.footerEmail a:hover {
    text-decoration-color: #AB2A2A;
    background: red;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    text-underline-offset: var(--offset,.50em);
}

.logoLink {
    text-decoration: none;
}

/* ============Button-Style====================> */

.button {
    --primary: #275EFE;
    --primary-dark: rgba(0, 0, 0, 0.4);
    --primary-darkest: #133FC0;
    --text: #FFFFFF;
    --text-opacity: 1;
    --success: #2B3044;
    --success-scale: .2;
    --success-opacity: 0;
    --border-radius: 0;
    --overflow: hidden;
    --rotate: 0;
    --plane-x: 0;
    --plane-y: 0;
    --plane-opacity: 1;
    --left-wing-background: rgba(0, 0, 0, 0.4);
    --left-wing-first-x: 0;
    --left-wing-first-y: 0;
    --left-wing-second-x: 50;
    --left-wing-second-y: 0;
    --left-wing-third-x: 0;
    --left-wing-third-y: 100;
    --left-body-background: rgba(0, 0, 0, 0.4);
    --left-body-first-x: 50;
    --left-body-first-y: 0;
    --left-body-second-x: 50;
    --left-body-second-y: 100;
    --left-body-third-x: 0;
    --left-body-third-y: 100;
    --right-wing-background: rgba(0, 0, 0, 0.4);
    --right-wing-first-x: 50;
    --right-wing-first-y: 0;
    --right-wing-second-x: 100;
    --right-wing-second-y: 0;
    --right-wing-third-x: 100;
    --right-wing-third-y: 100;
    --right-body-background: rgba(0, 0, 0, 0.4);
    --right-body-first-x: 50;
    --right-body-first-y: 0;
    --right-body-second-x: 50;
    --right-body-second-y: 100;
    --right-body-third-x: 100;
    --right-body-third-y: 100;
    display: block;
    cursor: pointer;
    position: relative;
    border: 1px solid #f7f7f7;
    padding: 10px 0;
    min-width: 100px;
    text-align: center;
    margin: 0;
    line-height: 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    background: none;
    outline: none;
    color: var(--text);
    transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.button .left, .button .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
}
.button .left:before, .button .left:after, .button .right:before, .button .right:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--border-radius) * 1px);
    transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--background, var(--left-wing-background));
    clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}
.button .left:after {
    --x: 0;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
}
.button .right:before {
    --x: -.4%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
}
.button .right:after {
    --x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
}
.button span {
    font-family: 'MedievalSharp', cursive;
    font-size: clamp(35px, calc(var(--size)*1.2), 55px);
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
}
.button span.success {
    font-family: 'MedievalSharp', cursive;
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
    transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
    opacity: var(--success-opacity);
    color: var(--text);
}
/* ----------Modal-Window-For-Contact-Form---------------- */
.contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
#contact-modal-content {
    position: fixed;
    top: 50%;
    left: 5%;
    background: rgba(230, 190, 138, 0.9);
    margin: 15px;
    padding: 20px;
    width: 80%;
    border: 1px solid #f7f7f7;
}
#close_modal {
    background: #f7f7f7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    float: right;
    font-size: 38px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
#close_modal:hover {
    background: #AB2A2A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    scale: 1.3;
}
.contactModalText {
    font-family: 'MedievalSharp', cursive;
	font-family: 'Poppins', sans-serif;
    font-size: clamp(28px, calc(var(--size)*1.7), 54px);
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--red);
	text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
.contactModalText span {
	display: inline-block;
}

.socLinkBox {
    width: 100%;
    height: 4rem;
    background: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-facebook-square,
.fa-instagram {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}
#facebookIco {
    margin: 0px 50px;
}
#facebookIco,
#instagramIco {
    font-size: 50px;
}
.footerText {
    text-decoration: none;
    margin-left: 50px;
    font-family: 'MedievalSharp', cursive;
    font-size: clamp(22px, calc(var(--size)*1.2), 32px);
    font-weight: 600;
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    transition: all .2s ease-in-out;
}
.footerText:hover {
    transform: translateY(-5px);
    scale: 1.15;
}
.footerText:hover #homeArrow {
    transform: translateX(-9px);
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

@media all and (max-width: 500px) {
    
    #facebookIco {
        margin: 0px 40px;
    }
    #facebookIco,
    #instagramIco {
        font-size: 40px;
    }
    
}

@media all and (max-width: 320px) {
    
    #facebookIco,
    #instagramIco {
        font-size: 30px;
    }
    #facebookIco {
        margin: 0px 20px;
    }
    .footerText {
        margin-left: 10px;
        font-size: clamp(20px, calc(var(--size)*1.2), 32px);
    }
    
    .socLinkBox {
        height: 3.3rem;
    }
}
